.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/***************************
COMPONENT: APP
***************************/

/***************************
COMPONENT: HorizontalMenu
***************************/

#horizontalmenu_ctn {
    height: 250px;
    width: 100%;
}

#img_card {
    width: 129px;
    height: 129px;
    text-align: right;
    margin-left: 57.5%;
}

#vertical-text {
    transform: rotate(90deg);
	position: relative;
    float: right;
    left: 15.5%;
    top: 54px;
    text-align: right;
    font-size: 0.8em;
    font-family: 'Roboto Condensed', sans-serif;
}

#vertical-text-link {
    text-decoration: none;
    color: black;
}

#arrow {
    margin-left: 5px;
}

/***************************
COMPONENT: VerticalMenu
***************************/

#verticalmenu_ctn {
    display: none;
}


/***************************
MEDIA QUERIES
***************************/

@media (min-width: 480px) {
    #horizontalmenu {
        display: none;
    }
    
     #verticalmenu_ctn {
        display: block;
    }
} 

